/*******************************************************************************
File Name:    index.css
Author:       Damon Holland
Date:         10/02/2020
Class:        CS360
Assignment:   JS Clocks
Hours Worked: 1 hour
Purpose:      The formatting for the clocks website
*******************************************************************************/

html {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}

h1 {
  font-size: larger;
  font-weight: bold;
}

h2 {
  font-size: small;
  font-weight: normal;
  padding-left: 12pt;
  padding-right: 12pt;
}

canvas {
  margin: auto;
}

.row {
  display: flex;
  width: 100%;
  background-color: rgb(182,31,157);
}

.stackrow {
  width: 100%;
}

.headcol{
  display: flex;
  float: right;
  width: 50%;
  height: 50px;
  align-items: center;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.col {
  display: flex;
  float: left;
  width: 33.33%;
  height: 300px;
}

.green{
  background-color: rgb(107, 199, 64);
}

.blue{
  background-color: rgb(34, 180, 185);
}

.purple{
  background-color: rgb(31, 121, 182);
}

@media screen and (max-width: 750px) {
  .col {
    width: 100%;
  }
}